.mapWrapper {
  width: 100%;
  height: 100%;
}

.textShadow {
  text-shadow: 2px 2px 7px #000;
}

.textJustify {
  text-align: justify;
}

.topGraphicElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 700px;
  margin-top: -30px;
  margin-left: -40px;
  // transform: scaleX(2.5) rotateZ(-25deg);
}

.botGraphicElement {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 30vw;
  min-width: 300px;
  margin-right: -50px;
  margin-bottom: -20px;
}

.roundPicture {
  position: absolute;
  width: 350px;
  height: auto;
}

.pic1position {
  width: 300px;
  margin-top: 25px;
  margin-right: 350px;
  top: 0px;
  right: 0px;
}

.pic2position {
  margin-top: 400px;
  margin-left: 125px;
  top: 0px;
  left: 0px;
}

.pic3position {
  margin-bottom: 50px;
  margin-right: 200px;
  bottom: 0px;
  right: 0px;
}

.secondaryColorBG {
  background-color: #1e3c56;
}
